asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.1.1
django-extensions==3.2.1
graphviz==0.20.1
jquery.javascript==1.0.0
jquery.layer==1.0.0
multipart==0.2.4
pydot==1.4.2
pyparsing==3.0.9
python-gettext==4.1
pytz==2022.5
six==1.16.0
sqlparse==0.4.3
transaction==3.0.1
XStatic-jQuery==3.5.1.1
zope.browser==2.4
zope.browserpage==4.4.0
zope.component==5.0.1
zope.configuration==4.4.1
zope.contentprovider==4.2.1
zope.contenttype==4.6
zope.deprecation==4.4.0
zope.event==4.5.0
zope.exceptions==4.5
zope.hookable==5.2
zope.i18n==4.9.0
zope.i18nmessageid==5.0.1
zope.interface==5.5.0
zope.location==4.2
zope.pagetemplate==4.6.0
zope.proxy==4.5.1
zope.publisher==6.1.0
zope.schema==6.2.1
zope.security==5.4
zope.tal==4.5
zope.tales==5.2
zope.traversing==4.4.1
zope.viewlet==4.3
