<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'auction/style.css' %}"/>
</head>

<body>

<header>Auction</header>

<div id="search">
    <form action="/search/" method="post">
        {% csrf_token %}
        <input class="text" name="search" size="32" />
    </form>
</div>

{% include 'navbar.html' %}

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>