{% load static %}
<nav>
    <ul>
        <li class="home-img"><a href="{% url 'home' %}">
            <img src="{% static 'auction/auction.png' %}" width="100px"></a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'auctions' %}">Explore auctions</a></li>
            <li><a href="{% url 'categories' %}">Categories</a></li>
            <li><a href="{% url 'create_category' %}">Create category</a></li>
            <li><a href="{% url 'create_auction' %}">Create auction</a></li>
            <li><a href="{% url 'profiles' %}">User profiles</a></li>
            <li class="log-in-out">Welcome: &#128100; <i>{{ request.user.username }} | </i>
                <a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
        {% if not request.user.is_authenticated %}
            <li class="last-item"><a href="{% url 'login' %}">Login/Signup</a></li>
        {% endif %}
    </ul>
</nav>