{% extends 'main.html' %}

{% load static %}

{% block title %}Ongoing auctions{% endblock %}

{% block content %}
<div class="bidding-pic">
<div class="section-heading">Filter auctions: </div><br>

<form method="POST" action="/auctions/">
    {% csrf_token %}
  <label for="explore">Choose an option:</label>
  <select name="explore" id="explore">
      <option value="all">All</option>
      <option value="own">My auctions</option>
      <option value="did_bid">Auctions I bid</option>
      <option value="recent">Recently added</option>
      <option value="ending">Soon ending</option>
      <option value="favorite">Favorite auctions</option>
      <option value="ended">Just ended</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
<br>

    <div class="list-of-categories">List of ongoing auctions based on filter: {{ filter }}</div>
    <div class="auctions-list">
        <ul>
            {% for auction in auctions %}
            <li>
                <a href="{% url 'auction' auction.id %}">
                    {% if auction.photo %}
                    <img src="{{ auction.photo }}" width="50px">
                    {% else %}
                    <img src='/media/ux/no_image.png' width="50px">
                    {% endif %}
                    {{ auction.name }}</a>
                {{ auction.start_date }} {{ auction.end_date }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}