{% extends 'main.html' %}

{% block title %}Auction: {{ auction.name }}{% endblock %}

{% block content %}
    <div class="auction-content">
        You are in auction: <b>{{ auction.name }}</b> <br>

        <div class="image-auction"> Image:
    <div class="image-auction-file">
        {% if auction.photo %}
        <a href="{{ auction.photo }}"><img src="{{ auction.photo }}" width="250px"></a>
        {% else %}
        <img src='/media/ux/no_image.png' width="250px">
        {% endif %}
    </div>
        </div>

        {% if auction in profile.favorites.all %}
    <a href="/remove_favorites/{{ auction.id }}">Remove from favorites. &#9733;</a>
    {% else %} <a href="/add_favorites/{{ auction.id }}">Add to favorites. &#9734;</a>
    {% endif %}
    <br><br>

        <b>Details:</b><br>
        Seller: {{ auction.seller.first_name }} {{ auction.seller.last_name }}<br>
        City: {{ profile.city }}<br>
        <div class="description">
        Description: {{ auction.description }}<br>
        </div>
        Auction runs from: {{ auction.start_date }} until: {{ auction.end_date }}<br>
    </div>

<div class="bid-values">
    Buy now: <b>{{ auction.buy_now }} $</b><br>

    Start Bid: <b>{{ auction.start_bid }} $</b>

</div>

    {% for bid in bids %}
    <div class="bid-text">{{ bid.user.username }} bid <b>{{ bid.bid_amount }}</b>
        at {{ bid.created|date:'M d, h:i a' }}</div>
    {% empty %}
    <div class="bid-message">
        No bids yet!
    </div>
    {% endfor %}


{% if active %}
Auction is open.
{% if "message" in request.session %}
<div class="message red">
    <b>{{ request.session.message }}</b>
</div>
{% endif %}
    <div class="bid-form">
        <form action="/bid/{{ auction.id }}/" method="POST">
            {% csrf_token %}
            <label for="bid">Bid: </label>
            <textarea name="bid" id="bid" rows="1" cols="10"> </textarea>
            <input type="submit" value="Bid value">
        </form>
    </div>
{% else %}

Auction is closed.<br>
<!--
    <div class="message-form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="body">Message: </label>
            <textarea name="body" id="body" rows="2" cols="50"> </textarea>
            <input type="submit" value="Send">
        </form>
    </div>
-->
{% endif %}

{% if ended %}
Auction has ended!<br>
{% if not max_bid.user or max_bid.bid_amount < auction.min_bid %}
Nobody has won this auction.
{% else %}
User: {{ max_bid.user }} has won the auction.
{% endif %}
{% endif %}

{% endblock %}