{% extends 'main.html' %}

{% load static %}

{% block title %}Ongoing auctions{% endblock %}

{% block content %}
<div class="bidding-pic">
<div class="section-heading">Filter auctions: </div><br>

<form method="POST" action="/auctions/">
    {% csrf_token %}
  <label for="explore">Choose an option:</label>
  <select name="explore" id="explore">
      <option value="all">All</option>
      <option value="own">My auctions</option>
      <option value="did_bid">Auctions I bid</option>
      <option value="recent">Recently added</option>
      <option value="ending">Soon ending</option>
      <option value="favorite">Favorite auctions</option>
      <option value="ended">Just ended</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
<br>

    <div class="list-of-categories">List of auctions based on filter: {{ filter }}</div><br>
    <div class="auctions-list">
    <table style="width:50%">
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Starting date</th>
            <th>Ending date</th>
        </tr>
        <tr>
            {% for auction in auctions %}
            <td><a href="{% url 'auction' auction.id %}">
                    {% if auction.photo %}
                    <img src="{{ auction.photo }}" width="50px">
                    {% else %}
                    <img src='/media/ux/no_image.png' width="50px"></a></td>
                    {% endif %}
            <td><a href="{% url 'auction' auction.id %}">{{ auction.name }}</a></td>
            <td><a href="{% url 'auction' auction.id %}">{{ auction.start_date }}</a></td>
            <td><a href="{% url 'auction' auction.id %}">{{ auction.end_date }}</a></td>
        </tr>
            {% endfor %}
    </table>
    </div>
    </div>
{% endblock %}