{% extends 'main.html' %}

{% block title %}Create new auction{% endblock %}

{% block content %}
<div class="section-heading">Auction creation:</div><br>

  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"> <br>

    <label for="category">Category:</label>
    <select name="category" id="category">
      {% for category in categories %}
      <option value="{{ category.name }}">
        {{ category.name }}
      </option>
      {% endfor %}
    </select> <br>

    <label for="descr">Description:</label>
    <input type="text" name="descr" id="descr"> <br>

    <input type="file" name="upload" accept="image/*"> <br>

    <label for="buy_now">Buy now:</label>
    <input type="number" name="buy_now" id="buy_now"> <br>

    <label for="start_bid">Start bid:</label>
    <input type="number" name="start_bid" id="start_bid"> <br>

    <label for="min_bid">Minimum bid:</label>
    <input type="number" name="min_bid" id="min_bid"> <br>

<!-- ToDo correct datePicker -->
    <label for="start_date">Auction starts:</label>
    <input type="datetime-local" id="start_date"
       name="start_date" value="{% now 'Y-m-d G:i' %}"
       min="datetime-local" max="2050-10-01T08:30"> <br>

    <label for="end_date">Auction ends:</label>
    <input type="datetime-local" id="end_date"
       name="end_date" value="{% now 'Y-m-d G:i' %}"
       min="2022-10-01T08:30" max="2050-10-01T08:30"> <br>


    <button type="submit">Place auction</button>
  </form>
<!-- .toISOString().split('T')[0] -->

{% endblock %}